<ion-header>
  <ion-toolbar>
    <ion-title>Examen Remedial Plataformas moviles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label style="text-align: center">Andres Guevara</ion-label>
  </ion-item>
  <ion-list>
    <ion-item detail routerLink="/productos">
      <ion-icon slot="start" name="storefront"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-item>

    <ion-item detail routerLink="/carrito">
      <ion-icon slot="start" name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
